[Unit]
Description=RGB LED Matrix server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/rgb-led-matrix/LEDMatrix/LEDMatrix/bin/Release/net6.0
ExecStart=/usr/local/bin/dotnet LEDMatrix.Server.dll --urls=http://*:5050

[Install]
WantedBy=multi-user.target