[Unit]
Description=RGB LED Matrix runner service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/root/rgb-led-matrix/LEDMatrix/LEDMatrix.Runner
ExecStart=/usr/local/bin/dotnet run --project=LEDMatrix.Runner.csproj  --configuration=Release

[Install]
WantedBy=multi-user.target