[Unit]
Description=RGB LED Matrix runner service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/rgb-led-matrix/LEDMatrix/LEDMatrix.Runner/bin/Release/net6.0
ExecStart=/usr/local/bin/dotnet LEDMatrix.Runner.dll

[Install]
WantedBy=multi-user.target