[Unit]
Description=RGB LED Matrix server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/rgb-led-matrix/LEDMatrix/LEDMatrix
ExecStart=/usr/local/bin/dotnet run --project=LEDMatrix.Server.csproj --configuration=Release --urls=http://*:5050

[Install]
WantedBy=multi-user.target